<% content_for :header_title do %>
  <h1>Patient Portal</h1>
<% end %>

<a href="/add_pet">Add New Pet</a><br><br>
  <div class="pet-info">
  <% @users[session[:username]]["pets"].each_key do |pet| %>
  <div class="pet-grid">
    <img src="/images/<%= pet %>.jpg" alt="<%= pet %> picture">
    <div class="pet-item">
      <a href="/<%= pet %>/dashboard"><%= pet.capitalize %></a>
      <form class="inline-form" action="/<%= pet %>/edit" method="get">
        <button type="submit">Edit</button>
      </form>
      <form class="inline-form" action="/<%= pet %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  <% end %>
</div>
<form class="inline-form" action="/users/signout" method="post"> 
  <p class="user-status">
    Signed in as, <%=@users[session[:username]]["first_name"]%><br><br>
    <button type="submit">Sign Out</button>
  </p>
</form>

